<?xml version="1.0" encoding="UTF-8"?>
<persistence version="3.0"
             xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence
             https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd">

    <persistence-unit name="emailListPU" transaction-type="RESOURCE_LOCAL">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>

        <class>murach.business.User</class>

        <properties>
            <!-- Driver kết nối PostgreSQL -->
            <property name="jakarta.persistence.jdbc.driver" value="org.postgresql.Driver"/>

            <!-- URL kết nối chuẩn JDBC (Sử dụng Internal Hostname vì các dịch vụ trên Render nằm cùng mạng nội bộ) -->
            <property name="jakarta.persistence.jdbc.url" value="jdbc:postgresql://dpg-datt14ou01pc73aecb50-a/email_list_db_jut9?sslmode=require"/>

            <!-- Username -->
            <property name="jakarta.persistence.jdbc.user" value="email_list_db_jut9_user"/>

            <!-- Password -->
            <property name="jakarta.persistence.jdbc.password" value="2hI1wdw0KNvIH77Bilyuv4COJ7mkXDB"/>
        </properties>
    </persistence-unit>
</persistence>